
.search{
    background-color:  #000000cd;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.search p{
    color: #9da5d1;
}
.search_container{
    display: flex;
    gap: 1rem;

}
.search_container input,
.search_container button{
    padding: 1rem;
    border-radius: 3px;
    border: none;
    color: #2b3566;
}
.search_container button{
    background-color: #0e1129;
    cursor: pointer;
}